*{
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-size: 3rem;
    color: white;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    word-spacing: 0.5rem;
}

h3{
    padding-top: 8%;
    font-size: 1.5rem;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}

/* navbar  */

#title{
    color: white;
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.2rem;
}

/* download button  */
.Download-button{
    margin: 5% 3% 5% 0;
}

/* title img  */

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features  */
#features{
    background-color: white;
    padding: 5% 6%; 
    position: relative;

}
.box{
    text-align: center;
    padding: 0 3.5%;
}
.box h3{
    padding-top: 8%;
    font-size: 1.5rem;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}
.box p{
    color: #8f8f8f;
}

.features-icon{
    color: #ef8172;
}
.features-icon:hover{
    color: #ff4c68;
}

/* testimonial */

#testimonials{
    text-align: center;
    background-color: #ef8172;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing  */
#pricing{
    padding:100px;
    text-align: center;
}
#pricing h2{
color: black;
}
#pricing p{
    color: #8f8f8f;
}

.pricing-box{
    width: 3%;
    text-align: center;
    margin: 3% 0;
} 
.pricing-box h2{
    color: rgb(73, 73, 73);
    font-weight: lighter;
    word-spacing: 0;
    padding-bottom: 2%;
} 
.pricing-box h3{
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
} 
.pricing-box p{
    margin-bottom: 0.5rem;
} 
.pricing-btn{
    margin-top: 8%;
}

@media (max-width: 1000px) {
    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
}

/* call to action */
#cta{
    text-align: center;
    padding: 7% 15%;
    background-color: #ff4c68;
}
#cta h3{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

/* footer  */
#footer{
    background-color: white;
    padding: 7% 15%;
    text-align: center;
}
.footer-icon{
    margin: 2% 1%;

}

/* another button class */

.button{
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    background: white;
    border: none;
    margin: 20px;
    outline: 2px solid white;
    outline-offset: 4px;
    border: 2px solid white;
    cursor: pointer;
    transition: all 250ms;
}
.button:hover{
    outline-offset: -8px;
    color: rgb(34, 34, 34);
    background: none;
    color: white;
}
.button:nth-child(2){
    outline-offset: -4px;
}
.button:nth-child(2):hover{
    outline-offset: 4px;
    color: white;
}